[submodule "prysm"]
	path = prysm
	url = https://github.com/cskiraly/prysm
[submodule "eth-networking-lab"]
	path = eth-networking-lab
	url = https://github.com/cskiraly/eth-networking-lab
[submodule "shadow"]
	path = shadow
	url = https://github.com/shadow/shadow
