[submodule "prysm"]
	path = prysm
	url = https://github.com/cskiraly/prysm
[submodule "go-libp2p-pubsub"]
	path = go-libp2p-pubsub
	url = https://github.com/cskiraly/go-libp2p-pubsub
[submodule "simnet"]
	path = simnet
	url = https://github.com/cskiraly/simnet
[submodule "eth-networking-lab"]
	path = eth-networking-lab
	url = https://github.com/cskiraly/eth-networking-lab
